.rodape__page{
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.rodape__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--background-branco);
    padding: 1rem;
    border-radius: 16px;
    background-color: var(--branco);
}

.rodape__item {
    text-align: center;
}

.container__item--desc {
    color: var(--cinza-texto);
    font-size: .7rem;
    margin-top: .3rem;
}

.ativo{
    color: var(--azul);
}